---

flowquery:
  - metric_name: 'tx_packet_rate'
    query_template: 'rate(sonemu_tx_count_packets{{flow_id="{0}",vnf_name="{1}",vnf_interface="{2}"}}[3s])'
    unit: 'packets/sec'
  - metric_name: 'rx_packet_rate'
    query_template: 'rate(sonemu_rx_count_packets{{flow_id="{0}",vnf_name="{1}",vnf_interface="{2}"}}[3s])'
    unit: 'packets/sec'
  - metric_name: 'tx_byte_rate'
    query_template: 'rate(sonemu_tx_count_bytes{{flow_id="{0}",vnf_name="{1}",vnf_interface="{2}"}}[3s])'
    unit: 'bytes/sec'
  - metric_name: 'rx_byte_rate'
    query_template: 'rate(sonemu_rx_count_bytes{{flow_id="{0}",vnf_name="{1}",vnf_interface="{2}"}}[3s])'
    unit: 'bytes/sec'
  - metric_name: 'tx_packet_count'
    query_template: 'sonemu_tx_count_packets{{flow_id="{0}",vnf_name="{1}",vnf_interface="{2}"}}'
    unit: 'packets'
  - metric_name: 'rx_packet_count'
    query_template: 'sonemu_rx_count_packets{{flow_id="{0}",vnf_name="{1}",vnf_interface="{2}"}}'
    unit: 'packets'
  - metric_name: 'tx_byte_count'
    query_template: 'sonemu_tx_count_bytes{{flow_id="{0}",vnf_name="{1}",vnf_interface="{2}"}}'
    unit: 'bytes'
  - metric_name: 'rx_byte_count'
    query_template: 'sonemu_rx_count_bytes{{flow_id="{0}",vnf_name="{1}",vnf_interface="{2}"}}'
    unit: 'bytes'

computequery:
  - metric_name: 'cpu'
    query_template: 'sum(rate(container_cpu_usage_seconds_total{{name="mn.{0}"}}[3s]))*100'
    unit: '%'
  - metric_name: 'mem'
    query_template: '(container_memory_working_set_bytes{{name="mn.{name}",id=~"/docker/{id}.*"}}/1000000)'
    unit: 'MB'
  - metric_name: 'host_cpu'
    query_template: 'sum(rate(container_cpu_usage_seconds_total{{id="/"}}[3s]))*100'
    unit: '%'
  - metric_name: 'skew_cpu'
    query_template: 'skewness{{vnf_name="{0}",vnf_metric="cpu"}}'
    unit: ''
  - metric_name: 'num_cores'
    query_template: 'machine_cpu_cores'
    unit: 'core(s)'

networkquery:
  - metric_name: 'tx_packet_rate'
    query_template: 'rate(sonemu_tx_count_packets{{flow_id="None",vnf_name="{0}",vnf_interface="{1}"}}[3s])'
    unit: 'packets/sec'
  - metric_name: 'rx_packet_rate'
    query_template: 'rate(sonemu_rx_count_packets{{flow_id="None",vnf_name="{0}",vnf_interface="{1}"}}[3s])'
    unit: 'packets/sec'
  - metric_name: 'tx_byte_rate'
    query_template: 'rate(sonemu_tx_count_bytes{{flow_id="None",vnf_name="{0}",vnf_interface="{1}"}}[3s])'
    unit: 'bytes/sec'
  - metric_name: 'rx_byte_rate'
    query_template: 'rate(sonemu_rx_count_bytes{{flow_id="None",vnf_name="{0}",vnf_interface="{1}"}}[3s])'
    unit: 'bytes/sec'
  - metric_name: 'tx_packet_count'
    query_template: 'sonemu_tx_count_packets{{flow_id="None",vnf_name="{0}",vnf_interface="{1}"}}'
    unit: 'packets'
  - metric_name: 'rx_packet_count'
    query_template: 'sonemu_rx_count_packets{{flow_id="None",vnf_name="{0}",vnf_interface="{1}"}}'
    unit: 'packets'
  - metric_name: 'tx_byte_count'
    query_template: 'sonemu_tx_count_bytes{{flow_id="None",vnf_name="{0}",vnf_interface="{1}"}}'
    unit: 'bytes'
  - metric_name: 'rx_byte_count'
    query_template: 'sonemu_rx_count_bytes{{flow_id="None",vnf_name="{0}",vnf_interface="{1}"}}'
    unit: 'bytes'
  - metric_name: 'tx_packet_rate_cadv'
    query_template: 'rate(container_network_transmit_packets_total{{id=~"/docker.*",name="mn.{0}",interface="{1}"}}[3s])'
    unit: 'packets'
  - metric_name: 'rx_packet_rate_cadv'
    query_template: 'rate(container_network_receive_packets_total{{id=~"/docker.*",name="mn.{0}",interface="{1}"}}[3s])'
    unit: 'packets'
  - metric_name: 'tx_bitrate_cadv'
    query_template: 'rate(container_network_transmit_bytes_total{{id=~"/docker.*",name="mn.{0}",interface="{1}"}}[3s])*8e-6'
    unit: 'Mbit/s'
  - metric_name: 'rx_bitrate_cadv'
    query_template: 'rate(container_network_receive_bytes_total{{id=~"/docker.*",name="mn.{0}",interface="{1}"}}[3s])*8e-6'
    unit: 'Mbit/s'


testvnfquery:
  - metric_name: 'jitter'
    query_template: 'sonemu_jitter_ms{{vnf_name="{0}"}}'
    unit: 'ms'
  - metric_name: 'packet_loss'
    query_template: 'sonemu_packet_loss_percent{{vnf_name="{0}"}}'
    unit: '%'
  - metric_name: 'throughput'
    query_template: 'sonemu_bandwith_Mbitspersec{{vnf_name="{0}"}}'
    unit: 'Mbits/sec'
  - metric_name: 'cached_download_latency'
    query_template: '1e6/avg(rate(cached_download_speed_sum{{vnf_name="{0}"}}[3s])/rate(cached_download_speed_count{{vnf_name="{0}"}}[3s]))'
    unit: 'MB/sec'
  - metric_name: 'non_cached_download_latency'
    query_template: '1e6/avg(rate(non_cached_download_speed_sum{{vnf_name="{0}"}}[3s])/rate(non_cached_download_speed_count{{vnf_name="{0}"}}[3s]))'
    unit: 'MB/sec'
  - metric_name: 'cached_reqs_count'
    query_template: 'cached_reqs_count{{vnf_name="{0}"}}'
    unit: 'reqs'
  - metric_name: 'non_cached_reqs_count'
    query_template: 'non_cached_reqs_count{{vnf_name="{0}"}}'
    unit: 'reqs'
  - metric_name: 'input_cached_reqs_per_sec'
    query_template: 'rate(input_cached_reqs{{vnf_name="{0}"}}[10s])'
    unit: 'reqs/sec'
  - metric_name: 'input_non_cached_reqs_per_sec'
    query_template: 'rate(input_non_cached_reqs{{vnf_name="{0}"}}[10s])'
    unit: 'reqs/sec'
  - metric_name: 'processed_cached_reqs_per_sec'
    query_template: 'rate(processed_cached_reqs{{vnf_name="{0}"}}[10s])'
    unit: 'reqs/sec'
  - metric_name: 'processed_non_cached_reqs_per_sec'
    query_template: 'rate(processed_non_cached_reqs{{vnf_name="{0}"}}[10s])'
    unit: 'reqs/sec'
  - metric_name: 'filesize'
    query_template: '(rate(filesize_sum{{vnf_name="{0}"}}[3s])/rate(filesize_count{{vnf_name="{0}"}}[3s]))/1000000'
    unit: 'MBytes'
  - metric_name: 'cached_perc'
    #plus sign needs to be escaped for prometheus url query
    query_template: "rate(cached_reqs[3s])/(rate(non_cached_reqs[3s])%2Brate(cached_reqs[3s]))"
    unit: 'percent'
  - metric_name: 'cached_users'
    query_template: 'cached_users{{vnf_name="{0}"}}'
    unit: 'users'
  - metric_name: 'non_cached_users'
    query_template: 'non_cached_users{{vnf_name="{0}"}}'
    unit: 'users'
  - metric_name: 'false_users'
    query_template: 'false_users{{vnf_name="{0}"}}'
    unit: 'users'
  - metric_name: 'vcdn_users'
    query_template: 'sum(vcdn_users{{vnf_name=~"{0}.*"}})'
    unit: 'users'
  - metric_name: 'processed_false_reqs_per_sec'
    query_template: 'rate(processed_false_reqs{{vnf_name="{0}"}}[3s])'
    unit: 'reqs/sec'
  - metric_name: 'failed_reqs_per_sec'
    query_template: 'sum(rate(input_failed_reqs{{vnf_name=~"{0}.*"}}[3s]))'
    unit: 'reqs/sec'